@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
/* line 1, sass/_settings.scss */
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 4, sass/_typo.scss */
body.wp-admin {
  font-family: 'Source Sans Pro', arial, sans-serif;
  color: #51545a;
}
/* line 8, sass/_typo.scss */
body.wp-admin * {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
/* line 13, sass/_typo.scss */
body.wp-admin a {
  color: #662081;
}

/* line 16, sass/_typo.scss */
h3.hndle {
  font-size: 16px;
}

/* line 3, sass/_buttons.scss */
.wp-core-ui .button-primary {
  background: #97bf0d;
  border: 0;
  box-shadow: none;
  height: auto;
  font-weight: 800;
  font-size: 14px;
}
/* line 11, sass/_buttons.scss */
.wp-core-ui .button-primary:hover {
  background: #718f0a;
  border: 0;
}

/* line 7, sass/wp-admin.scss */
.wp-admin {
  padding-top: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 782px) {
  /* line 7, sass/wp-admin.scss */
  .wp-admin {
    padding-top: 48px;
  }
}

/* line 16, sass/wp-admin.scss */
.postbox {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

/* line 21, sass/wp-admin.scss */
#wpcontent {
  margin-left: 210px;
}
/* line 24, sass/wp-admin.scss */
#wpcontent #wpadminbar {
  background: #17202a;
  height: 80px;
}
/* line 28, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-admin-bar-user-actions {
  background: #17202a;
}
/* line 32, sass/wp-admin.scss */
#wpcontent #wpadminbar * {
  font-weight: 800;
}
/* line 36, sass/wp-admin.scss */
#wpcontent #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  margin-left: 20px;
}
/* line 40, sass/wp-admin.scss */
#wpcontent #wpadminbar .ab-item {
  font-size: 14px;
  transition: padding-bottom 0.1s ease-in-out;
  -webkit-transition: padding-bottom 0.1s ease-in-out;
  color: white;
}
/* line 46, sass/wp-admin.scss */
#wpcontent #wpadminbar .ab-item:hover {
  color: white;
}
/* line 51, sass/wp-admin.scss */
#wpcontent #wpadminbar .ab-item:before,
#wpcontent #wpadminbar .ab-icon:before {
  color: white;
}
/* line 59, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar a:hover {
  background: #17202a;
}
/* line 69, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-menu-toggle a {
  margin-top: 15px;
  margin-right: 10px;
  height: 60px;
}
/* line 76, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-new-content {
  padding: 15px 0;
}
/* line 79, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-new-content > a {
  font-weight: 800;
  background: #97bf0d;
  margin-left: 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
@media only screen and (min-width: 782px) and (max-width: 900px) {
  /* line 79, sass/wp-admin.scss */
  #wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-new-content > a {
    padding: 5px 15px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 79, sass/wp-admin.scss */
  #wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-new-content > a {
    padding: 5px 30px;
  }
}
/* line 94, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-new-content > a a {
  font-weight: 600;
  background: transparent;
  border: 0;
}
/* line 103, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-dashboard-link {
  padding: 20px 0;
}
/* line 106, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-dashboard-link a {
  font-size: 24px;
  font-weight: 800;
  padding: 0 20px;
  border-right: 1px solid #434855;
}
/* line 116, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-hohb-link {
  padding: 20px 0;
}
/* line 119, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-hohb-link a {
  font-size: 24px;
  font-weight: 300;
  padding: 0 20px;
}
/* line 127, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-root-default #wp-admin-bar-updates {
  padding: 20px 0;
}
/* line 133, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary {
  padding-top: 15px;
}
/* line 45, sass/_mixins.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account:before, #wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account:after {
  content: "";
  display: table;
}
/* line 50, sass/_mixins.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account:after {
  clear: both;
}
/* line 139, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account .ab-item {
  background: #17202a;
}
/* line 142, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account .ab-item:hover {
  background: #17202a;
}
/* line 146, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account .ab-item:first-child {
  padding-bottom: 5px;
  height: auto;
}
@media only screen and (min-width: 782px) {
  /* line 146, sass/wp-admin.scss */
  #wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account .ab-item:first-child {
    padding-bottom: 11px;
  }
}
/* line 45, sass/_mixins.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account.with-avatar > a:before, #wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account.with-avatar > a:after {
  content: "";
  display: table;
}
/* line 50, sass/_mixins.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account.with-avatar > a:after {
  clear: both;
}
/* line 159, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account.with-avatar > a #hohb-hello {
  float: left;
  font-size: 16px;
  text-align: right;
  margin-right: 10px;
}
/* line 165, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account.with-avatar > a #hohb-hello #gday {
  display: block;
  margin-bottom: -10px;
  font-size: 14px;
  font-weight: 300;
}
/* line 173, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account.with-avatar > a #hohb-av {
  float: left;
  padding-top: 6px;
}
/* line 178, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar #wp-admin-bar-top-secondary #wp-admin-bar-my-account.with-avatar > a img {
  width: 45px;
  height: 45px;
  padding: 0;
  border: 0;
  background: #eee;
  line-height: 24px;
  vertical-align: middle;
  margin: -4px 0 0 6px;
  float: none;
  display: inline;
  border-radius: 50%;
}
/* line 195, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar span.ab-label {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
/* line 200, sass/wp-admin.scss */
#wpcontent #wpadminbar #wp-toolbar span.ab-label:hover {
  color: white;
}

/* line 212, sass/wp-admin.scss */
#wpwrap {
  background: #f8f9fb;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  z-index: 0;
}
/* line 219, sass/wp-admin.scss */
#wpwrap #adminmenuback {
  width: 200px;
  background-color: #353942;
}
/* line 226, sass/wp-admin.scss */
#wpwrap #wpbody .wrap {
  margin-left: 20px;
}
/* line 229, sass/wp-admin.scss */
#wpwrap #wpbody .wrap h2 {
  font-weight: 600;
  font-size: 24px;
}
/* line 236, sass/wp-admin.scss */
#wpwrap #wpfooter {
  margin-left: 230px;
}
/* line 240, sass/wp-admin.scss */
#wpwrap #adminmenuwrap {
  width: 200px;
}
/* line 243, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu {
  margin-top: 0;
  width: 200px;
  background-color: #353942;
}
/* line 250, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu li:hover {
  background-color: #434855;
}
/* line 255, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu li.opensub:hover:after {
  border-right-color: #434855;
}
/* line 259, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu li.opensub > a.menu-top {
  background-color: #434855;
}
/* line 266, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-submenu {
  width: 200px;
  background-color: #434855;
}
@media only screen and (min-width: 782px) {
  /* line 266, sass/wp-admin.scss */
  #wpwrap #adminmenuwrap #adminmenu .wp-submenu {
    left: 200px;
  }
}
/* line 273, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-submenu:hover {
  background-color: #434855;
}
/* line 277, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-submenu a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 282, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-submenu a:hover {
  background: #97bf0d;
}
/* line 288, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-has-current-submenu {
  background: #e30e7e;
}
/* line 291, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-has-current-submenu .wp-submenu-wrap {
  background: #2b2e34;
  left: 0;
}
/* line 297, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .current .menu-top {
  background: #e30e7e;
}
/* line 301, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-menu-image {
  width: 50px;
}
/* line 304, sass/wp-admin.scss */
#wpwrap #adminmenuwrap #adminmenu .wp-menu-image:before {
  color: white !important;
}
/* line 310, sass/wp-admin.scss */
#wpwrap #adminmenuwrap .wp-menu-name {
  font-weight: 600;
  color: white;
  padding: 11px 0;
}
/* line 316, sass/wp-admin.scss */
#wpwrap #adminmenuwrap .wp-submenu {
  padding: 0;
}
/* line 319, sass/wp-admin.scss */
#wpwrap #adminmenuwrap .wp-submenu .wp-submenu-head {
  padding: 8px 4px 14px 11px;
}
/* line 325, sass/wp-admin.scss */
#wpwrap #adminmenuwrap .wp-menu-separator {
  background-color: #2b2e34;
}

/* line 336, sass/wp-admin.scss */
.folded #wpwrap #adminmenuback {
  width: 56px;
}
/* line 340, sass/wp-admin.scss */
.folded #wpwrap #adminmenuwrap {
  width: 56px;
}
/* line 343, sass/wp-admin.scss */
.folded #wpwrap #adminmenuwrap #adminmenu {
  width: 56px;
}
/* line 346, sass/wp-admin.scss */
.folded #wpwrap #adminmenuwrap #adminmenu .menu-top {
  width: 56px;
  min-height: 40px;
}
/* line 351, sass/wp-admin.scss */
.folded #wpwrap #adminmenuwrap #adminmenu .wp-submenu {
  left: 36px;
  margin-left: 20px;
}
/* line 359, sass/wp-admin.scss */
.folded #wpwrap #wpfooter {
  margin-left: 80px;
}
